@import "styles/vars.css";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;

  background-color: #0b97c4;
}

html {
  height: 100%;

  -webkit-overflow-scrolling: touch;
}

.app-container {
  width: 100%;
  min-height: 100%;

  font-family: var(--font-akzi);
  font-weight: 300;
  font-size: 0;
  line-height: 0;

  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: 0;
}
