@font-face {
  font-family: Akzi;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/akzid-grtsk-pro-reg.woff') format('woff');
}
@font-face {
  font-family: Akzi;
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/akzid-grtsk-pro-cnd.woff') format('woff');
}
@font-face {
  font-family: Akzi;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/akzid-grtsk-pro-med.woff') format('woff');
}
