.button {
  display: inline-block;
  height: 28px;
  padding: 0 12px;
  box-sizing: border-box;
  vertical-align: top;

  border: 2px solid #000;

  font-size: 13px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.no-border {
    border-color: transparent;
  }
}

.button:not(.activated):active {
  background-color: #000;
}
