.link-button {
  display: inline-block;
  height: 28px;
  padding: 0 12px;
  box-sizing: border-box;

  justify-content: center;
  border: 2px solid #000;

  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  color: #000;

  cursor: pointer;

  &.no-border {
    border-color: transparent;
  }
}

.link-button:not(.activated):active {
  background-color: #000;
}
