<div class="menu-wrapper">
  <div class="menu" ng-class="{expanded: menu.expanded}" ng-click="menu.toggle()">

    <button class="menu-button" no-border="true">
      За<span class='icon-arrow-right'></span>ново
    </button>

    <div class="menu-content" ng-click="$event.stopPropagation()">


      <div class="menu-items">
        <div class="menu-item"><a ui-sref="list.ideas" class="button">Идеи</a></div>
        <div class="menu-item"><button ui-sref="list.processes" class="">Процессы</button></div>
        <div class="menu-item"><button ui-sref="list.projects" class="">Проекты</button></div>
      </div>
    </div>

  </div>
</div>
