<div class="menu-wrapper">
  <div class="menu" ng-class="{expanded: menu.expanded}" ng-click="menu.toggle()">

    <div class="menu-content" ng-click="$event.stopPropagation()">
      <div class="menu-items">
        <div class="menu-item"><link-button ui-sref="list.ideas" class="">Идеи</link-button></div>
        <div class="menu-item"><link-button ui-sref="list.processes" class="">Процессы</link-button></div>
        <div class="menu-item"><link-button ui-sref="list.projects" class="">Проекты</link-button></div>
      </div>
    </div>

  </div>
</div>
